@import "tailwindcss";

@theme {
  --color-primary: #1A1A1A;
  --color-accent: #C4A484;
  --color-base: #F9F9F9;

  --font-playfair: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply bg-base text-primary font-montserrat;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}